.inactive {
  background-color: lightgrey;
}
.active {
  background-color: lightgreen;
}

.null {
  background-color: lightgrey;
}

.hate {
  background-color: red;
}

.table-button {
  float: inline-end;
  width: 100%;
}
